html, body, #root{
  width: 100%;
  height: 100%;
}

.login-cover{
  background-image: url(mollie-sivaram-_1gBVgy8gIU-unsplash.png);
  background-size: contain;
}

.register-cover{
  background-image: url(mollie-sivaram-_1gBVgy8gIU-unsplash.png);
  background-size: contain;
}

.rgister-overlay{
  padding: 20px;
  background-color: rgba(0,0,0,0.5);
}

.full-cover img{
  margin-top: 250px;
  /* padding-right: 30px; */
}

.half-cover{
  width: 100%;
}
.book-details {
  margin-top: -50px;
}
/* .book-details {
  margin-top: 50px;
  display: flex;
  margin-bottom: 80px;
  width: 1240px;
} */